In [1]:
import pandas as pd
import pandas as pd
import numpy as np 
from congress import Congress
import requests 
congress = Congress('hJVtQTEGbweeIF5yKHzNlPeJpWsKfm88qoRdmcml')
api_key = 'hJVtQTEGbweeIF5yKHzNlPeJpWsKfm88qoRdmcml'
headers = {'X-API-KEY': api_key}

#

In [2]:
def json_request_builder(congress, chamber, committee_THOMAS_id):
    json_request = str(congress) + '/' + str(chamber) +'/committees/' + str(committee_THOMAS_id)
   #  json_request = '115/house/committees/HSHA'
    r = requests.get(
        'https://api.propublica.org/congress/v1/' + str(
            json_request) + '.json', headers= headers)
    print ('json request:', json_request)
    return r.json()['results']

In [3]:
house_comms = pd.read_csv('house_comm_members.csv')
senate_comms = pd.read_csv('s_comm_members.csv')

In [4]:
house_comms.head(1)

,congress_number,committee_id_code,icpsr_ID,party,chamber,bioguide_id,committee_THOMAS_id
0,93.0,102.0,7498,100.0,house,1,1

In [5]:
senate_comms.head(1)

,congress_number,committee_id_code,icpsr_ID,party,chamber,bioguide_id,committee_THOMAS_id
0,93,302,6754.0,100,senate,1,1

In [6]:
house_comms['congress_number'].unique()

array([ 93.,  94.,  95.,  96.,  97.,  98.,  99., 100., 101., 102., 103.,
       104., 105., 106., 107., 108., 109., 110., 111., 112., 113., 114.,
       115.])

In [7]:
senate_comms['congress_number'].unique()

array([ 93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105,
       106, 107, 108, 109, 110, 111, 112, 113, 114, 115])

In [8]:
# still need the  current committee rolls for the 116th congress

First, I am going to create lists of each of the THOMAS committee IDs represented in the 116th congress for each chamber.

In [ ]:
test = congress.committees.filter(chamber='house', congress=116)

In [ ]:
test

In [9]:
def committee_THOMAS_id_lister(input_chamber,input_congress):
    committee_ids = []
    committees_object = congress.committees.filter(
        chamber=input_chamber, congress=input_congress)['committees']
    for committee_id in committees_object:
        committee_ids.append(committee_id['id'])
    return committee_ids

In [10]:
house_116_THOMAS_ids = committee_THOMAS_id_lister(
    input_chamber='house', input_congress='116')
senate_116_THOMAS_ids = committee_THOMAS_id_lister(
    input_chamber='senate', input_congress='116')

In [11]:
house_116_THOMAS_ids

['HSHA',
 'HSAG',
 'HSAP',
 'HSAS',
 'HSED',
 'HSIF',
 'HSSO',
 'HSBA',
 'HSFA',
 'HSHM',
 'HSII',
 'HSGO',
 'HSRU',
 'HSSY',
 'HSSM',
 'HSBU',
 'HSJU',
 'HSPW',
 'HSVR',
 'HSWM',
 'HSIG',
 'HSCN',
 'HSMH']

In [12]:
senate_116_THOMAS_ids

['SSAF',
 'SSAP',
 'SSAS',
 'SSBK',
 'SSCM',
 'SSEG',
 'SSEV',
 'SSFI',
 'SSFR',
 'SSHR',
 'SSGA',
 'SLIA',
 'SSRA',
 'SSSB',
 'SSBU',
 'SSJU',
 'SSVA',
 'SLET',
 'SLIN',
 'SPAG',
 'SCNC']

In [13]:
joint_116_THOMAS_ids = ['JSEC', 'JSLC', 'JSPR', 'JSTX']

In [14]:
#joint_116_THOMAS_ids = committee_THOMAS_id_lister(
 #   input_chamber='joint', input_congress='116')

In [ ]:
test2 = json_request_builder(congress=116, chamber='house', committee_THOMAS_id= 'HSHA')

In [ ]:
test3 = json_request_builder(congress=116, chamber='joint', committee_THOMAS_id='JSEC')

In [ ]:
test2

In [ ]:
len(test2)

In [15]:
def committee_member_lister (congress, committee_THOMAS_ids, chamber):
    congress_number_list = []
    chamber_list = []
    bioguide_id_list = []
    committee_THOMAS_id_list = []
    for THOMAS in committee_THOMAS_ids:
        committee_roll = json_request_builder(
            congress, chamber, THOMAS).pop(0)['current_members']
        for member in range(len(committee_roll)):
            congress_number_list.append(congress)
            chamber_list.append(chamber)
            bioguide_id_list.append(committee_roll[member]['id'])
            committee_THOMAS_id_list.append(THOMAS)
            
    data_dict = {'congress_number': congress_number_list, 'chamber': chamber_list,
                'bioguide_id': bioguide_id_list,
                 'committee_THOMAS_id': committee_THOMAS_id_list}
    
    committee_df = pd.DataFrame(data=data_dict)
    
    return committee_df

In [16]:
house_116_comms = committee_member_lister(congress=116,
                                          committee_THOMAS_ids=house_116_THOMAS_ids,
                                          chamber='house')

json request: 116/house/committees/HSHA
json request: 116/house/committees/HSAG
json request: 116/house/committees/HSAP
json request: 116/house/committees/HSAS
json request: 116/house/committees/HSED
json request: 116/house/committees/HSIF
json request: 116/house/committees/HSSO
json request: 116/house/committees/HSBA
json request: 116/house/committees/HSFA
json request: 116/house/committees/HSHM
json request: 116/house/committees/HSII
json request: 116/house/committees/HSGO
json request: 116/house/committees/HSRU
json request: 116/house/committees/HSSY
json request: 116/house/committees/HSSM
json request: 116/house/committees/HSBU
json request: 116/house/committees/HSJU
json request: 116/house/committees/HSPW
json request: 116/house/committees/HSVR
json request: 116/house/committees/HSWM
json request: 116/house/committees/HSIG
json request: 116/house/committees/HSCN
json request: 116/house/committees/HSMH

In [17]:
senate_116_comms = committee_member_lister(congress=116,
                                           committee_THOMAS_ids=senate_116_THOMAS_ids,
                                           chamber='senate')

json request: 116/senate/committees/SSAF
json request: 116/senate/committees/SSAP
json request: 116/senate/committees/SSAS
json request: 116/senate/committees/SSBK
json request: 116/senate/committees/SSCM
json request: 116/senate/committees/SSEG
json request: 116/senate/committees/SSEV
json request: 116/senate/committees/SSFI
json request: 116/senate/committees/SSFR
json request: 116/senate/committees/SSHR
json request: 116/senate/committees/SSGA
json request: 116/senate/committees/SLIA
json request: 116/senate/committees/SSRA
json request: 116/senate/committees/SSSB
json request: 116/senate/committees/SSBU
json request: 116/senate/committees/SSJU
json request: 116/senate/committees/SSVA
json request: 116/senate/committees/SLET
json request: 116/senate/committees/SLIN
json request: 116/senate/committees/SPAG
json request: 116/senate/committees/SCNC

In [113]:
joint_116_comms = committee_member_lister(congress=116,
                                           committee_THOMAS_ids=joint_116_THOMAS_ids,
                                           chamber='joint')

json request: 116/joint/committees/JSEC
json request: 116/joint/committees/JSLC
json request: 116/joint/committees/JSPR
json request: 116/joint/committees/JSTX

In [19]:
house_116_comms.head(1)

   congress_number chamber bioguide_id committee_THOMAS_id
0              116   house     D000619                HSHA

In [20]:
senate_116_comms.head(1)

   congress_number chamber bioguide_id committee_THOMAS_id
0              116  senate     R000307                SSAF

In [21]:
joint_116_comms.head(1)

   congress_number chamber bioguide_id committee_THOMAS_id
0              116   joint     L000577                JSEC

Now I just need to add bioguide ids and THOMAS ids to all of the committee membership dataframes that only have ICPSR ids

In [22]:
house_comms.head(1)

,congress_number,committee_id_code,icpsr_ID,party,chamber,bioguide_id,committee_THOMAS_id
0,93.0,102.0,7498,100.0,house,1,1

In [23]:
senate_comms.head(1)

,congress_number,committee_id_code,icpsr_ID,party,chamber,bioguide_id,committee_THOMAS_id
0,93,302,6754.0,100,senate,1,1

In [24]:
icpsr_to_THOMAS = pd.read_csv('icpsr_to_THOMAS - Sheet1.csv')

In [25]:
icpsr_to_THOMAS.head(3)

   icpsr_comm_code THOMAS_codes
0              102         HSAG
1              104         HSAP
2              106         HSAS

In [26]:
house_committees = pd.merge(house_comms, icpsr_to_THOMAS, how='left',
                          left_on='committee_id_code', right_on='icpsr_comm_code')

In [27]:
house_committees.head(1)

,congress_number,committee_id_code,icpsr_ID,party,chamber,bioguide_id,committee_THOMAS_id,icpsr_comm_code,THOMAS_codes
0,93.0,102.0,7498,100.0,house,1,1,102,HSAG

In [28]:
house_committees = house_committees.drop(columns=['committee_THOMAS_id'])

In [29]:
house_committees.head(1)

,congress_number,committee_id_code,icpsr_ID,party,chamber,bioguide_id,icpsr_comm_code,THOMAS_codes
0,93.0,102.0,7498,100.0,house,1,102,HSAG

In [30]:
senate_committees = pd.merge(senate_comms, icpsr_to_THOMAS, how='left',
                          left_on='committee_id_code', right_on='icpsr_comm_code')

In [31]:
senate_committees.head(1)

,congress_number,committee_id_code,icpsr_ID,party,chamber,bioguide_id,committee_THOMAS_id,icpsr_comm_code,THOMAS_codes
0,93,302,6754.0,100,senate,1,1,302,SSCM

In [32]:
senate_committees = senate_committees.drop(columns=['committee_THOMAS_id'])

In [33]:
senate_committees.head(1)

,congress_number,committee_id_code,icpsr_ID,party,chamber,bioguide_id,icpsr_comm_code,THOMAS_codes
0,93,302,6754.0,100,senate,1,302,SSCM

In [34]:
house_committees.dtypes

congress_number      float64
committee_id_code    float64
icpsr_ID              object
party                float64
chamber               object
bioguide_id            int64
icpsr_comm_code        int64
THOMAS_codes          object
dtype: object

In [35]:
senate_committees.dtypes

congress_number        int64
committee_id_code      int64
icpsr_ID             float64
party                  int64
chamber               object
bioguide_id            int64
icpsr_comm_code        int64
THOMAS_codes          object
dtype: object

In [36]:
h_icpsr_to_bioguide = pd.read_csv('house_ids.csv')
s_icpsr_to_bioguide = pd.read_csv('senate_ids.csv')

In [37]:
h_icpsr_to_bioguide.head(1)

   icpsr_id       id
0   15244.0  A000014

In [38]:
h_icpsr_to_bioguide.dtypes

icpsr_id    float64
id           object
dtype: object

In [39]:
s_icpsr_to_bioguide.dtypes

icpsr_id    float64
id           object
dtype: object

In [40]:
#h_icpsr_to_bioguide['icpsr_id'] = h_icpsr_to_bioguide['icpsr_id'].astype(object)

In [41]:
s_icpsr_to_bioguide.head(1)

   icpsr_id       id
0      52.0  A000062

In [42]:
house_null_df = house_committees[house_committees.isnull().any(axis=1)]

In [45]:
house_null_df.head(5)

,congress_number,committee_id_code,icpsr_ID,party,chamber,bioguide_id,icpsr_comm_code,THOMAS_codes
745,93.0,771.0,824,100.0,house,1,771,NaN
1546,94.0,770.0,14410,200.0,house,1,770,NaN
1547,94.0,770.0,14435,100.0,house,1,770,NaN
1548,94.0,770.0,14442,100.0,house,1,770,NaN
2349,95.0,772.0,10700,100.0,house,1,772,NaN

In [46]:
house_committees = house_committees.dropna(axis=0)

In [47]:
house_committees.dtypes

congress_number      float64
committee_id_code    float64
icpsr_ID              object
party                float64
chamber               object
bioguide_id            int64
icpsr_comm_code        int64
THOMAS_codes          object
dtype: object

In [48]:
house_committees.isnull().sum()

congress_number      0
committee_id_code    0
icpsr_ID             0
party                0
chamber              0
bioguide_id          0
icpsr_comm_code      0
THOMAS_codes         0
dtype: int64

In [49]:
house_committees['icpsr_ID'] = pd.to_numeric(house_committees['icpsr_ID'], errors='coerce')

In [50]:
house_committee_data = pd.merge(house_committees, h_icpsr_to_bioguide, how='left',
                     left_on='icpsr_ID',right_on='icpsr_id')

In [51]:
senate_committee_data = pd.merge(senate_committees, s_icpsr_to_bioguide, how='left',
                     left_on='icpsr_ID',right_on='icpsr_id')

In [52]:
#house_committee_data = house_committee_data.dropna(axis=0)
#senate_committee_data = senate_committee_data.dropna(axis=0)

In [53]:
len(house_committee_data)

20156

In [54]:
len(senate_committee_data)

8469

In [55]:
house_committee_data.head(1)

,congress_number,committee_id_code,icpsr_ID,party,chamber,bioguide_id,icpsr_comm_code,THOMAS_codes,icpsr_id,id
0,93.0,102.0,7498.0,100.0,house,1,102,HSAG,NaN,NaN

In [56]:
senate_committee_data.head(1)

,congress_number,committee_id_code,icpsr_ID,party,chamber,bioguide_id,icpsr_comm_code,THOMAS_codes,icpsr_id,id
0,93,302,6754.0,100,senate,1,302,SSCM,6754.0,M001033

In [57]:
house_committee_data.dtypes

congress_number      float64
committee_id_code    float64
icpsr_ID             float64
party                float64
chamber               object
bioguide_id            int64
icpsr_comm_code        int64
THOMAS_codes          object
icpsr_id             float64
id                    object
dtype: object

In [58]:
senate_committee_data.dtypes

congress_number        int64
committee_id_code      int64
icpsr_ID             float64
party                  int64
chamber               object
bioguide_id            int64
icpsr_comm_code        int64
THOMAS_codes          object
icpsr_id             float64
id                    object
dtype: object

In [59]:
house_committee_data = house_committee_data.drop(
    columns=['committee_id_code', 'bioguide_id', 'icpsr_comm_code', 'icpsr_id'])
senate_committee_data = senate_committee_data.drop(
    columns=['committee_id_code', 'bioguide_id', 'icpsr_comm_code', 'icpsr_id'])

In [60]:
house_committee_data.head(1)

   congress_number  icpsr_ID  party chamber THOMAS_codes   id
0             93.0    7498.0  100.0   house         HSAG  NaN

In [61]:
senate_committee_data.head(1)

   congress_number  icpsr_ID  party chamber THOMAS_codes       id
0               93    6754.0    100  senate         SSCM  M001033

In [62]:
house_116_comms.head(1)

   congress_number chamber bioguide_id committee_THOMAS_id
0              116   house     D000619                HSHA

In [63]:
senate_116_comms.head(1)

   congress_number chamber bioguide_id committee_THOMAS_id
0              116  senate     R000307                SSAF

In [64]:
pd.set_option('display.max_columns', 500)

In [65]:
senate_116_members = pd.read_csv('data_store/members/senate_116_members.csv',
                                 usecols =['id', 'icpsr_id', 'party'])

In [66]:
house_116_members = pd.read_csv('data_store/members/house_116_members.csv',
                                 usecols =['id', 'icpsr_id', 'party'])

In [67]:
senate_116_members.head(1)

   icpsr_id       id party
0   40304.0  A000360     R

In [68]:
house_116_comms = pd.merge(house_116_comms, house_116_members, how='left',
                     left_on='bioguide_id',right_on='id')
senate_116_comms = pd.merge(senate_116_comms, senate_116_members, how='left',
                     left_on='bioguide_id',right_on='id')

In [69]:
house_116_comms.head(1)

,congress_number,chamber,bioguide_id,committee_THOMAS_id,icpsr_id,id,party
0,116,house,D000619,HSHA,21328.0,D000619,R

In [70]:
senate_116_comms.head(1)

,congress_number,chamber,bioguide_id,committee_THOMAS_id,icpsr_id,id,party
0,116,senate,R000307,SSAF,14852.0,R000307,R

In [71]:
house_committee_data.head(1)

   congress_number  icpsr_ID  party chamber THOMAS_codes   id
0             93.0    7498.0  100.0   house         HSAG  NaN

In [72]:
senate_116_comms.head(1)

,congress_number,chamber,bioguide_id,committee_THOMAS_id,icpsr_id,id,party
0,116,senate,R000307,SSAF,14852.0,R000307,R

In [73]:
house_116_comms = house_116_comms.drop(
    columns=['bioguide_id'])
senate_116_comms = senate_116_comms.drop(
    columns=['bioguide_id'])

In [74]:
house_committee_data.head(1)

   congress_number  icpsr_ID  party chamber THOMAS_codes   id
0             93.0    7498.0  100.0   house         HSAG  NaN

In [75]:
house_116_comms.head(1)

   congress_number chamber committee_THOMAS_id  icpsr_id       id party
0              116   house                HSHA   21328.0  D000619     R

In [78]:
house_116_comms = house_116_comms[['congress_number', 'icpsr_id', 'party', 'chamber',
                                  'committee_THOMAS_id', 'id']]

In [79]:
senate_116_comms = senate_116_comms[['congress_number', 'icpsr_id', 'party', 'chamber',
                                  'committee_THOMAS_id', 'id']]

In [81]:
house_committee_data.columns

Index(['congress_number', 'icpsr_ID', 'party', 'chamber', 'THOMAS_codes',
       'id'],
      dtype='object')

In [82]:
senate_committee_data.columns

Index(['congress_number', 'icpsr_ID', 'party', 'chamber', 'THOMAS_codes',
       'id'],
      dtype='object')

In [83]:
house_116_comms.columns = ['congress_number', 'icpsr_ID', 'party',
                           'chamber', 'THOMAS_codes', 'id']
senate_116_comms.columns = ['congress_number', 'icpsr_ID', 'party',
                            'chamber', 'THOMAS_codes', 'id']

In [84]:
house_116_comms.columns == house_committee_data.columns

array([ True,  True,  True,  True,  True,  True])

In [85]:
senate_116_comms.columns == senate_committee_data.columns

array([ True,  True,  True,  True,  True,  True])

In [87]:
print ('house_116_comms:', len(house_116_comms), '\n',
       'house_committee_data:', len(house_committee_data), '\n',
       'senate_116_comms:', len(senate_116_comms), '\n',
       'house_committee_data:', len(senate_committee_data))

house_116_comms: 844
 house_committee_data: 20156
 senate_116_comms: 415
 house_committee_data: 8469

In [88]:
len(house_116_comms) + len(house_committee_data)

21000

In [89]:
len(senate_116_comms) + len(senate_committee_data)

8884

In [90]:
house_committee_data = house_committee_data.append(house_116_comms, sort=True)#.reset_index()
senate_committee_data = senate_committee_data.append(senate_116_comms, sort=True)#.reset_index()

In [91]:
len(house_committee_data)

21000

In [92]:
len(senate_committee_data)

8884

In [93]:
house_committee_data.reset_index(drop=True)
senate_committee_data.reset_index(drop=True)

     THOMAS_codes chamber  congress_number  icpsr_ID       id party
0            SSCM  senate               93    6754.0  M001033   100
1            SSCM  senate               93    5913.0  M000053   100
2            SSCM  senate               93    9141.0  S001136   100
3            SSCM  senate               93    8883.0  S000852   100
4            SSCM  senate               93    1482.0  C000120   100
5            SSCM  senate               93   13000.0  A000017   100
6            SSCM  senate               93   14104.0  H000317   100
7            SSCM  senate               93    3658.0  G000267   200
8            SSCM  senate               93    2267.0  C001006   200
9            SSCM  senate               93   12032.0  W000253   200
10           SSCM  senate               93   14100.0  B000200   200
11           SSCM  senate               93   14105.0  H000463   200
12           SSCM  senate               93   14103.0  D000407   200
13           SSCM  senate               93   14073.0  M000678   100
14           SSAF  senate               93    9174.0  T000035   100
15           SSAF  senate               93    2822.0  E000018   100
16           SSAF  senate               93    6256.0  M000452   100
17           SSAF  senate               93   12100.0  A000127   100
18           SSAF  senate               93    4728.0  H000953   137
19           SSAF  senate               93   10736.0  H000346   100
20           SSAF  senate               93   14106.0  H000905   100
21           SSAF  senate               93   14102.0  C000448   100
22           SSAF  senate               93    2267.0  C001006   200
23           SSAF  senate               93      52.0  A000062   200
24           SSAF  senate               93   10450.0  Y000047   200
25           SSAF  senate               93   10513.0  D000401   200
26           SSAF  senate               93   12101.0  B000351   200
27           SSAF  senate               93   14105.0  H000463   200
28           SSAP  senate               93    6151.0  M000332   100
29           SSAP  senate               93    5913.0  M000053   100
...           ...     ...              ...       ...      ...   ...
8854         SLIN  senate              116   41701.0  H001075     D
8855         SLIN  senate              116   40305.0  C001056     R
8856         SLIN  senate              116   40910.0  B001267     D
8857         SLIN  senate              116   41503.0  S001197     R
8858         SLIN  senate              116   14858.0  S000148     D
8859         SLIN  senate              116   14921.0  M000355     R
8860         SLIN  senate              116   29142.0  R000122     D
8861         SLIN  senate              116   15424.0  I000024     R
8862         SPAG  senate              116   49703.0  C001035     R
8863         SPAG  senate              116   40703.0  C001070     D
8864         SPAG  senate              116   21173.0  S001184     R
8865         SPAG  senate              116   20735.0  G000555     D
8866         SPAG  senate              116   29548.0  B001135     R
8867         SPAG  senate              116   41101.0  B001277     D
8868         SPAG  senate              116   21501.0  M001197     R
8869         SPAG  senate              116   41301.0  W000817     D
8870         SPAG  senate              116   41102.0  R000595     R
8871         SPAG  senate              116   41705.0  J000300     D
8872         SPAG  senate              116       NaN  H001089     R
8873         SPAG  senate              116   21300.0  S001191     D
8874         SPAG  senate              116       NaN  B001310     R
8875         SPAG  senate              116   21743.0  R000608     D
8876         SPAG  senate              116       NaN  S001217     R
8877         SCNC  senate              116   40305.0  C001056     R
8878         SCNC  senate              116   49300.0  F000062     D
8879         SCNC  senate              116   14226.0  G000386     R
8880         SCNC  senate              116   40704.0  W000802     D
8881         SCNC  senate              116   40902.0  R000584     R
8882         SCNC  senate              116   21743.0  R000608     D
8883         SCNC  senate              116   41501.0  P000612     R

[8884 rows x 6 columns]

In [94]:
house_committee_data.columns

Index(['THOMAS_codes', 'chamber', 'congress_number', 'icpsr_ID', 'id',
       'party'],
      dtype='object')

In [95]:
senate_committee_data.columns

Index(['THOMAS_codes', 'chamber', 'congress_number', 'icpsr_ID', 'id',
       'party'],
      dtype='object')

In [114]:
joint_116_comms.columns

Index(['congress_number', 'chamber', 'bioguide_id', 'committee_THOMAS_id'], dtype='object')

In [101]:
all_ids = house_116_members.append(senate_116_members)

In [115]:
joint_116_comms = pd.merge(joint_116_comms, all_ids, how='left',
                     left_on='bioguide_id',right_on='id')

In [116]:
joint_116_comms.head(1)

,congress_number,chamber,bioguide_id,committee_THOMAS_id,icpsr_id,id,party
0,116,joint,L000577,JSEC,41110.0,L000577,R

In [117]:
joint_116_comms = joint_116_comms.drop(
    columns=['bioguide_id'])

In [118]:
joint_116_comms = joint_116_comms[['committee_THOMAS_id', 'chamber',
                                  'congress_number', 'icpsr_id', 'id', 'party']]

In [119]:
joint_116_comms.columns

Index(['committee_THOMAS_id', 'chamber', 'congress_number', 'icpsr_id', 'id',
       'party'],
      dtype='object')

In [120]:
joint_116_comms.columns = ['THOMAS_codes', 'chamber', 'congress_number',
                           'icpsr_ID', 'id', 'party']

In [122]:
joint_116_comms.columns == senate_committee_data.columns

array([ True,  True,  True,  True,  True,  True])

In [123]:
joint_116_comms.head(1)

  THOMAS_codes chamber  congress_number  icpsr_ID       id party
0         JSEC   joint              116   41110.0  L000577     R

In [124]:
all_committee_membership_data = house_committee_data.append(
    senate_committee_data, sort=True)

In [125]:
all_committee_membership_data = all_committee_membership_data.append(
    joint_116_comms, sort=True)

In [126]:
all_committee_membership_data = all_committee_membership_data.reset_index(drop=True)

In [127]:
all_committee_membership_data.head(1)

  THOMAS_codes chamber  congress_number  icpsr_ID   id party
0         HSAG   house             93.0    7498.0  NaN   100

In [128]:
# 100 = dem
# 200 = rep

In [135]:
party_list = []

In [136]:
for party in all_committee_membership_data['party']:
    if party == 'R':
        party_list.append('R')
    elif party == 'D':
        party_list.append('D')
    elif party == 100:
        party_list.append('D')
    elif party == 200:
        party_list.append('R')
    else: party_list.append('other')

In [137]:
all_committee_membership_data['party'] = party_list

In [138]:
all_committee_membership_data[all_committee_membership_data['party'] == 'other']

      THOMAS_codes chamber  congress_number  icpsr_ID       id  party
12            HSAG   house             93.0   13007.0      NaN  other
204           HSDT   house             93.0   10585.0      NaN  other
275           HSFA   house             93.0   10585.0      NaN  other
590           HSPW   house             93.0     789.0      NaN  other
658           HSSY   house             93.0   13007.0      NaN  other
732           HSWM   house             93.0    5098.0      NaN  other
753           HSAG   house             94.0   13007.0      NaN  other
760           HSAG   house             94.0   14263.0  N000127  other
959           HSDT   house             94.0   10585.0      NaN  other
1147          HSIF   house             94.0   10585.0      NaN  other
1282          HSMM   house             94.0   14265.0  O000006  other
1345          HSPW   house             94.0   14265.0  O000006  other
1390          HSSY   house             94.0   13007.0      NaN  other
1432          HSSM   house             94.0   13007.0      NaN  other
1444          HSSM   house             94.0   14263.0  N000127  other
1518          HSWM   house             94.0    5098.0      NaN  other
1557          HSAG   house             95.0   14263.0  N000127  other
1720          HSBA   house             95.0   14458.0  V000087  other
1750          HSBU   house             95.0   10585.0      NaN  other
1922          HSII   house             95.0   14458.0  V000087  other
1945          HSIF   house             95.0   10585.0      NaN  other
2079          HSMM   house             95.0   14265.0  O000006  other
2135          HSPW   house             95.0   14265.0  O000006  other
2243          HSSM   house             95.0   14263.0  N000127  other
2354          HSAG   house             96.0   14263.0  N000127  other
2421          HSAP   house             96.0   14656.0  S000005  other
2515          HSBA   house             96.0   14458.0  V000087  other
2740          HSII   house             96.0   14458.0  V000087  other
2853          HSMM   house             96.0   14265.0  O000006  other
2914          HSPW   house             96.0   14265.0  O000006  other
...            ...     ...              ...       ...      ...    ...
28593         JSEC  senate            113.0   29147.0  S000033  other
28665         SSAS  senate            114.0   41300.0  K000383  other
28703         SSBU  senate            114.0   29147.0  S000033  other
28712         SSBU  senate            114.0   41300.0  K000383  other
28751         SSEG  senate            114.0   29147.0  S000033  other
28757         SSEG  senate            114.0   41300.0  K000383  other
28774         SSEV  senate            114.0   29147.0  S000033  other
28874         SSHR  senate            114.0   29147.0  S000033  other
28901         SSRA  senate            114.0   41300.0  K000383  other
28933         SSVA  senate            114.0   29147.0  S000033  other
28971         SLIN  senate            114.0   41300.0  K000383  other
29091         SSAS  senate            115.0   41300.0  K000383  other
29132         SSBU  senate            115.0   29147.0  S000033  other
29140         SSBU  senate            115.0   41300.0  K000383  other
29185         SSEG  senate            115.0   29147.0  S000033  other
29191         SSEG  senate            115.0   41300.0  K000383  other
29209         SSEV  senate            115.0   29147.0  S000033  other
29312         SSHR  senate            115.0   29147.0  S000033  other
29341         SSRA  senate            115.0   41300.0  K000383  other
29373         SSVA  senate            115.0   29147.0  S000033  other
29407         SLIN  senate            115.0   41300.0  K000383  other
29533         SSAS  senate            116.0   41300.0  K000383  other
29605         SSEG  senate            116.0   29147.0  S000033  other
29613         SSEG  senate            116.0   41300.0  K000383  other
29623         SSEV  senate            116.0   29147.0  S000033  other
29692         SSHR  senate            116.0   29147.0  S000033  other
29754         SSRA  senate            116.0   41300.0  K000383  other
29778         SSBU  senate            116.0   29147.0  S000033  other
29825         SSVA  senate            116.0   29147.0  S000033  other
29852         SLIN  senate            116.0   41300.0  K000383  other

[175 rows x 6 columns]

In [139]:
all_committee_membership_data.isna().sum()

THOMAS_codes         22
chamber               0
congress_number       0
icpsr_ID            430
id                 5169
party                 0
dtype: int64

In [170]:
all_null = all_committee_membership_data[
    all_committee_membership_data.isnull().any(axis=1)]

In [176]:
all_null = all_null.reset_index(drop=True)

In [177]:
def double_null_detector(df):
    double_nulls = []
    for i in range(len(df)):
        if df['icpsr_ID'][i] == df['id'][i]:
            double_nulls.append(1)
        else:
            double_nulls.append(0)
    return double_nulls

In [178]:
test_nulls = double_null_detector(all_null)

In [181]:
len(test_nulls)

5621

In [182]:
len(all_null)

5621

In [184]:
all_null['double_nulls'] = test_nulls

In [186]:
all_null['double_nulls'].unique()

array([0])

In [187]:
all_committee_membership_data.to_csv('all_committee_data.csv', index=False)

In [188]:
def stratify_committees(df, first_congress, last_congress):
    file_count = 0
    for i in range(first_congress, last_congress+1):
        sub_frame = df[df['congress_number'] == i].reset_index(drop=True)
        sub_frame.to_csv(('congress_' + str(i) + '_committees.csv'), index=False)
        print (('Saving congress_' + str(i) + '_committees.csv...'))
        file_count+=1
    print ('Complete.')
    print (file_count, 'file(s) saved.')

In [189]:
stratify_committees(all_committee_membership_data, 93, 116)

Saving congress_93_committees.csv...
Saving congress_94_committees.csv...
Saving congress_95_committees.csv...
Saving congress_96_committees.csv...
Saving congress_97_committees.csv...
Saving congress_98_committees.csv...
Saving congress_99_committees.csv...
Saving congress_100_committees.csv...
Saving congress_101_committees.csv...
Saving congress_102_committees.csv...
Saving congress_103_committees.csv...
Saving congress_104_committees.csv...
Saving congress_105_committees.csv...
Saving congress_106_committees.csv...
Saving congress_107_committees.csv...
Saving congress_108_committees.csv...
Saving congress_109_committees.csv...
Saving congress_110_committees.csv...
Saving congress_111_committees.csv...
Saving congress_112_committees.csv...
Saving congress_113_committees.csv...
Saving congress_114_committees.csv...
Saving congress_115_committees.csv...
Saving congress_116_committees.csv...
Complete.
24 file(s) saved.